*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #eee;
}
.card-content{
    background-color: white;
    width: 50%;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    font-family: 'Lexend Deca', sans-serif;
}
.card-content h2{
    text-align: center;
    padding: 20px;
}
.card-content img{
    width: 25px;
}
.form-grup .label{
    font-size: 15px;
}
.form-control{
    background-color: #f8f9fa;
    padding: 10px 10px;
    margin-bottom: 1.3rem;
    width: 200px;
    border-radius: 10px;
    border: none;
}
.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 1px solid #da5767;
    outline: 0;
    box-shadow: none;

}
.flex{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.button{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}
