*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body{
    background-color: #eee;
    overflow-x: hidden;
}
header{
    background-color: #0D9488;
    height: 60px;
    width: 100vw;
    position:relative;
}
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #0D9488;
    height: 60px;
    width: 100vw;
}
nav .logo{
    margin-top: -68px;
    margin-left: 80px;
    width: 15%;
    height: 200px;
}
nav ul{
    display: flex;
    justify-content: right;
    gap: 20px;
    list-style-type: none;
    padding: 16px 53px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    display: inline-flex;
}
nav ul li a img{
    width: 20%;
    padding-right: 5px;
}
nav ul li a:hover{
    color:  #D6CDA4;
}
/* hero */
.hero{
    background-color: #1E293B;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.hero .hero-text{
    color: white;
    justify-content: left;
    padding: 90px 50px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
.hero-text h1{
    font-family: 'Caveat', cursive;
    font-size: 80px ;
}
.hero img{
    width: 20%;
    justify-content: right;
    padding: 50px;
}
/* kategori */
.title{
    margin: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.text{
    margin: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color: rgb(153, 147, 147);
}
.text .team{
    justify-content: center;
    margin-bottom: 30px;
    border: 3px solid #0D9488;
    border-radius: 10px;
}
.categories-card{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.categories-card .mini-card{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 1px 4px 7px #888888;
    font-family: 'Lexend Deca', sans-serif;

}
.categories-card .mini-card:hover{
    box-shadow: 1px 6px 10px #888888;
}
.mini-card img{
    width: 50px;
    float: right;
    margin: 10px;
}
/* benefit */
.container{
    margin-top: 150px;
    margin-bottom: 100px;
}
.slider{
    width: 100%;
    padding: 100px 0;
    background-color: #1E293B;
    color: white;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
 
}
/* card */
.card{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card-body{
    background-color: white;
    width: 26rem;
    border-radius: 1rem;
    box-shadow: 1px 4px 7px #888888;

}
.card-body:hover{
    box-shadow: 1px 6px 10px #888888;

}
.card-body img{
    width: 24rem;
    padding: 1rem;
}
.card-body .card-text{
    padding: 1rem;
    font-family: 'Lexend Deca', sans-serif;
}
.button{
    background-color: #115C93;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:20px;
    cursor: pointer;
    float: right ;
}
.button:hover{
    box-shadow: 1px 4px 7px #888888;
}
/* footer */
.footer{
    background-color: #1E293B;
}
.social-media{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 30px;
}
.footer .sosmed{
    background-color: white;
    width: 4rem;
    height: 3rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 1rem;
    border-radius: 50%;
}
.footer .sosmed:hover{
    box-shadow: 1px 3px 7px black;
}
.footbar{
    display: flex;
}
.footbar ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
}
.footbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}
.footbar ul li a:hover{
    color: #D6CDA4;
}
.copyright{
    border-top: 2px solid #D6CDA4;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;

}

/* course */
.content{
    background-color: white;
    margin: 100px auto;
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
}

/* contact */
.contact-content{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.contact-text{
    width: 500px;
    height: 70px;
    display: flex;
    margin: 15px;
    background-color: #eee;
    border-radius: 20px;
}
.contact-text img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.contact-text p{
    padding-top: 25px;
    padding-left: 10px;
}
.contact-text:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
iframe{
    width: 120%;
    height: 120%;
}

.sitemap{
    display: flex;
    justify-content: space-around;
}

/* preloader */
#preloader{
    width: 100%;
    height: 100vh;
    background: #eee url(img/book.gif) no-repeat center center;
    position: fixed;
    z-index: 100;
}