*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body{
    background-color: #eee;
    overflow-x: hidden;
}
header{
    background-color: #0D9488;
    height: 60px;
    width: 100%;
    position:relative;
}
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #0D9488;
    height: 60px;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13.5px;
}
nav .logo{
    margin-top: -68px;
    margin-left: 80px;
    width: 15%;
    height: 200px;
}
nav ul{
    display: flex;
    justify-content: right;
    gap: 20px;
    list-style-type: none;
    padding: 16px 53px;
}
.regis{
    /* border: 1px solid #25756e; */
    border-radius: 5px;
    padding: 8px;
    background-color: #1E293B;
}
header nav ul li a.active{
    color: #F9BB4A;
    border-bottom: 3px solid #F9BB4A;
    padding-bottom: 18px;
}
/* .active{
    color: red;
} */
nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    display: inline-flex;
}
nav ul li a img{
    width: 20%;
    padding-right: 5px;
}
nav ul li a:hover{
    color:  #D6CDA4;
}
.hamburger{
    display: none;
}
/* hero */
.hero{
    background-color: #1E293B;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.hero .hero-text{
    color: white;
    justify-content: left;
    padding: 90px 50px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
.hero-text h1{
    font-family: 'Caveat', cursive;
    font-size: 80px ;
}
.hero img{
    width: 20%;
    justify-content: right;
    padding: 50px;
}
/* kategori */
.title{
    margin: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.text{
    margin: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color: rgb(153, 147, 147);
    text-align: justify;
}
.text .team{
    justify-content: center;
    margin-bottom: 30px;
    border: 3px solid #eee;
    border-radius: 10px;
    box-shadow: 3px 5px 8px #888888;
}
.categories-card{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.categories-card .mini-card{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 1px 4px 7px #888888;
    font-family: 'Lexend Deca', sans-serif;

}
.categories-card .mini-card:hover{
    box-shadow: 1px 6px 10px #888888;
}
.mini-card img{
    width: 50px;
    float: right;
    margin: 10px;
}
/* benefit */
.container{
    margin-top: 150px;
    margin-bottom: 100px;
}
.slider{
    width: 100%;
    padding: 100px 0;
    background-color: #1E293B;
    color: white;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
 
}
/* card */
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    justify-content: center;
    gap: 30px;
}
.card-body{
    background-color: white;
    width: 26rem;
    border-radius: 1rem;
    box-shadow: 1px 4px 7px #888888;

}
.card-body:hover{
    box-shadow: 1px 6px 10px #888888;

}
.card-body img{
    width: 24rem;
    padding: 1rem;
}
.card-body .card-text{
    padding: 1rem;
    font-family: 'Lexend Deca', sans-serif;
}
.button{
    background-color: #115C93;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:20px;
    cursor: pointer;
    float: right;
    clear: both;
}
.button:hover{
    box-shadow: 1px 4px 7px #888888;
}
/* footer */
.footer{
    background-color: #1E293B;
}
.social-media{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 30px;
}
.footer .sosmed{
    background-color: white;
    width: 4rem;
    height: 3rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 1rem;
    border-radius: 50%;
}
.footer .sosmed:hover{
    box-shadow: 1px 3px 7px black;
}
.footbar{
    display: flex;
}
.footbar ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
}
.footbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}
.footbar ul li a:hover{
    color: #D6CDA4;
}
.copyright{
    border-top: 2px solid #D6CDA4;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;

}

/* ini about */
.content{
    background-color: white;
    margin: 100px auto;
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
}

/* ini contact */
.contact-content{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.contact-text{
    width: 500px;
    height: 70px;
    display: flex;
    margin: 15px;
    background-color: #eee;
    border-radius: 20px;
}
.contact-text img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.contact-text p{
    padding-top: 25px;
    padding-left: 10px;
}
.contact-text:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
iframe{
    width: 120%;
    height: 120%;
}
/* ini course detail */
.text-course{
    background-color: white;
    margin: 50px 50px;
    width: 800px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
}
.text-course img{
    float: right;
    width: 30%;
    padding: 50px;
    clear: both;
}
.tab_navigation{
    list-style-type: none;
    display: flex;
    background-color: #eee;
}
.tab_navigation li{
    padding: 30px;
    cursor: pointer;
}
.tab_navigation li.active{
    border-bottom: 2px solid blue;
}
.tab_container{
    display: none;
}
.breadcrumb ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    background-color: rgba(202, 200, 200, 0.452);
    padding: 20px;
    width: 800px;
    margin: -50px 0 -80px 50px;
    border-radius: 10px;
}
.breadcrumb ul a{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}
.side-menu{
    float: right;
    margin:100px 130px;
    font-family: 'Lexend Deca', sans-serif;

}
.side-menu ul li{
    padding: 10px;
}
.side-menu ul li button{
    text-decoration: none;
    color: blue;
    cursor: pointer;
    border: none;
}
/* ini schedule */
.schedule{
    text-align: center;
}
.schedule-body{
    background-color: #eee;
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 10px;
}
.schedule-body p{
    color: rgb(88, 86, 86);
    margin-left: 45px;
    margin-top: 15px;
}
.schedule-body h3{
    position: absolute;
    margin-bottom: 3px;
    padding: 5px 0 0 10px;
}
.join-btn{
    
    padding: 20px;
}
.join-btn button{
    border: 4px double #115C93;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #115C93;
    cursor: pointer;
}
/* ini sitemap */
.sitemap{
    display: flex;
    justify-content: space-around;
}

/* ini preloader */
#preloader{
    width: 100%;
    height: 100vh;
    background: #eee url(img/book.gif) no-repeat center center;
    position: fixed;
    z-index: 100;
}

/* ini modal */
.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.555);
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}
.box{
    background-color: white;
    width: 500px;
    height: 250px;
    position: absolute;
    left: 30%;
    top: 30%;
    border-radius: 10px;
    animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;
}
.box-body{
    display: flex;
}
.box-text{
    padding: 50px 10px;
    font-family: 'Lexend Deca', sans-serif;
}


@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-30px)}}
  
/* mobile devices */
@media (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    header{
        justify-content: space-around;
    }
    nav {
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    nav .logo{
        width: 50%;
        margin-left: -10px;
    }
    .hamburger{
        display: block;
    }
    .icon{
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-top: 15px;
        display: block;
    }
    .adios{
        display: none;
    }
    nav ul{
        display: none;
        width: 100%;
        height: 100vh;
        background-color: #1e293b;
        position: fixed;
        top: 9%;
        margin-left: -35px;
    }
    header nav ul li a.active{
        color: #F9BB4A;
        padding-bottom: 18px;
    }
    nav ul li{
        padding: 10px;
        border-bottom: 1px solid white;
    }
    /* .active{
        color: red;
    } */
    nav ul li a{
        text-decoration: none;
        color: white;
        padding-top: 5px;
        display: inline-flex;
    }
    nav ul li a img{
        display: none;
    }
    nav ul li a:hover{
        color:  #D6CDA4;
    }
    .hero {
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 2rem;
      height: 100vh;
      justify-content: center;
    }
    .hero .hero-text {
      text-align: center;
      padding: 0;
    }
    .hero img {
      width: 150px;
      background-size: cover;
    }
  
    /* categories */
    .categories {
      height: 100%;
    }
  
    .categories-card {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      padding: 0 1.5rem;
    }
  
    /* sliders */
    .slider h3 {
      font-size: 24px;
      padding: 0 1.5rem;
    }
    .slider p {
      line-height: 1.5rem;
      font-size: 16px;
      text-align: center;
      padding: 0 1.5rem;
    }
  
    .card {
      display: grid;
      padding: 1rem;
      grid-template-columns: repeat(1, 1fr);
    }
    .card-body {
      width: 100%;
      border-radius: 1.5rem;
    }
    .card-body img {
      width: 100%;
      border-radius: 1.5rem 1.5rem 0 0;
      padding: 0;
    }
  
    .content{
        background-color: white;
        margin: 100px auto;
        width: 90%;
        border-radius: 20px;
    }
    
    /* contact */
    .contact-content{
        width: 90%;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 100px;
    }
    .contact-text{
        width: 90%;
        height: 70px;
        display: flex;
        padding-right: 1rem;
        background-color: #eee;
        border-radius: 20px;
    }
    .contact-text img{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .contact-text p{
        padding-top: 25px;
        padding-left: 10px;
    }
    .iframe{
        width: 90%;
    }

    /* detail course */
    .text-course{
       width: 80%;
       margin: 1rem;
    }
    .button{
        width: 7rem;
        padding: 8px;
    }

    .tab_navigation{
       width: 100%;
    }
    .tab_container{
        display: none;
    }
    .breadcrumb ul{
        width: 80%;
        margin: -4rem 1rem;
    }
    section a{
        font-size: 2px;
    }
    .side-menu{
        display: none;
    }
   
    /* sitemao */
    .sitemap{
        flex-direction: column;
    }
    .site-body{
        margin-bottom: 20px;
    }
    /* footer */
    .footbar ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .footbar ul li {
      text-align: center;
    }
  }